.section5{
    margin-bottom: 120px;
    .main__section5{
        display: flex;
        justify-content: center;
        max-width: 1128px;
        margin: 0 auto;
        gap: 0 32px;
        .section5__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 32px 0;
            h2{
                color: var(--theme-body, #161414);
                font-family: "Poppins", sans-serif;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 48px;
            }
            p{
                color: #5B5B5B;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--theme-primary, #7B61FF);
                font-family: "Poppins", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                text-decoration: none;
                background-color: rgba(246, 244, 255, 1);
                width: 133px;
                height: 40px;
                border-radius: 12px;
                i{
                    margin-left: 4px;
                }
            }
        }        
    }
}



